# Answer to quiz from [post](https://twitter.com/thesql_tribe/status/1732459043992612935) by [@thesql_tribe](https://twitter.com/thesql_tribe/)

## Create the values to insert in table `students`

In [2]:
first_name = 'Alice Bob Carol David Eve'.split(' ')

In [3]:
last_name = 'Johson Smith Brown Lee Davis'.split(' ')

In [4]:
age = [20,22,21,23,20]
GPA = [3.5, 3.8, 3.2, 3.9, 3.4]

In [6]:
students_values = tuple(zip(first_name, last_name, age, GPA))

In [10]:
print(*students_values, sep=',\n')

('Alice', 'Johson', 20, 3.5),
('Bob', 'Smith', 22, 3.8),
('Carol', 'Brown', 21, 3.2),
('David', 'Lee', 23, 3.9),
('Eve', 'Davis', 20, 3.4)

## Create the values to insert in table `courses`

In [12]:
course_id = list(range(101,106))

In [15]:
course_name = 'Math, English, History, Chemistry, Computer Science'.split(', ')

In [17]:
credits = [3,4,3,4,3]

In [18]:
course_values = tuple( zip(course_id, course_name, credits) )

In [19]:
print(*course_values, sep=',\n')

(101, 'Math', 3),
(102, 'English', 4),
(103, 'History', 3),
(104, 'Chemistry', 4),
(105, 'Computer Science', 3)

## Create the values to insert in table `enrollments`

In [20]:
student_id = [1,2,3,1,2]

In [21]:
course_id = list(range(101,106))

In [26]:
semester = ['Fall 2022'] * 3 + ['Spring 2023'] * 2

In [28]:
enrollments_values = tuple( zip(student_id, course_id, semester) )

In [29]:
print(*enrollments_values, sep=',\n')

(1, 101, 'Fall 2022'),
(2, 102, 'Fall 2022'),
(3, 103, 'Fall 2022'),
(1, 104, 'Spring 2023'),
(2, 105, 'Spring 2023')